.container {
    max-width: 900px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 0;
    letter-spacing: 0.2px;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  form div {
    flex: 1;
    margin: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  select {
    width: 20%;
    height: 10%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }