<div class="container">
    <h2>Ajouter un film</h2>
    <hr />
    <form (submit)="addMovie($event)">
      <div>
        <label for="title">Titre :</label>
        <input
          type="text"
          id="title"
          name="title"
          [(ngModel)]="movie.title"
          required
        />
      </div>
      <div>
        <label for="description">Genre:</label>
        <input
          type="text"
          id="description"
          name="description"
          [(ngModel)]="movie.gender"
          required
        />
      </div>
      
      <app-button>Ajouter</app-button>
    </form>
